body {
  pointer-events: none;
  background-color: black !important;
  font-family: -apple-system system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
  background-image: url("https://www.apple.com/newsroom/images/live-action/wwdc/standard/apple_wwdc-announcement_ready-set-code_05052020_big.jpg") !important;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

h2 {
  text-align: center;
  color:  black;
  font-size: 2em;
}

/*The container */
.container {
  pointer-events: none;
  background: rgb(228,2,45);
  background: -moz-linear-gradient(90deg, rgba(36, 37, 39,0.7) 0%, rgba(112, 113, 117,0.7) 100%);
  background: -webkit-linear-gradient(90deg, rgba(36, 37, 39,0.7) 0%, rgba(112, 113, 117,0.7) 100%);
  background: linear-gradient(90deg, rgba(36, 37, 39,0.7) 0%, rgba(112, 113, 117,0.7) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#242527",endColorstr="#707175",GradientType=1);
  background-size: 300% 300%;
  animation: gradientBG 10s ease infinite;
  border-radius: 30px;
  border-style: solid;
  border-width: 5px;
  text-align: center;
  width: 83%;
  max-width: 800px;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: normal;
}

li {
  display: inline-block;
  font-size: 40px;
  list-style-type: none;
  padding: 0.5em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 56px;
}

/* general styling */
html, body {
  height: 100%;
  margin: 0;
}

body {
  pointer-events: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ffd54f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    sans-serif;
}

.container {
  pointer-events: none;
  position: relative;
  z-index: 4;
  color: black;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500');

@-moz-keyframes move-astronaut {
    100% { -moz-transform: translate(-1000px, 250px);}
}
@-webkit-keyframes move-astronaut {
    100% { -webkit-transform: translate(-1000px, 250px);}
}
@keyframes move-astronaut{
    100% { -webkit-transform: translate(-1000px, 250px); transform:translate(-1000px, 250px); }
}
@-moz-keyframes rotate-astronaut {
    100% { -moz-transform: rotate(360deg);}
}
@-webkit-keyframes rotate-astronaut {
    100% { -webkit-transform: rotate(360deg);}
}
@keyframes rotate-astronaut{
    100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
}

.object_astronaut{
    animation: rotate-astronaut 10s infinite linear both;
}

.box_astronaut{
    z-index: 1;
    position: fixed;
    top: 30%;
    right: 5%;
    will-change: transform;
    animation: move-astronaut 60s infinite linear both alternate;
}

.footer {
  color: rgba(112, 113, 117,0.7);
}
